*
# Resources and other stuff
!README.md
!/.dfs/
!/.dfs/**

# * - any part (no subdirs)
# /* - only in git root dir
# ** - match subdirs
# directories need to be added one at a time
# /foo/ -> /foo/bar/ -> /foo/bar/baz/ -> ...

!/.gitignore

# Bash
!/.bashrc

# Shell
!/.profile

# xsession
!/.xsession

!/.config/

# Xmodmap
!/.config/Xmodmap

# git
!/.config/git/
!/.config/git/config

# i3
!/.config/i3/
!/.config/i3/config

# Polybar
!/.config/polybar/
!/.config/polybar/**

# Picom
!/.config/picom/
!/.config/picom/**

# Vim
!/.vim/
!/.vim/vimrc
!/.vim/lsp_highlight.vim
!/.vim/autoload/
!/.vim/autoload/*
!/.vim/after/
!/.vim/after/**
!/.vim/syntax/
!/.vim/syntax/**
!/.vim/snippets/
!/.vim/snippets/*

# Bin
!/bin/
!/bin/**

# Xresources
!/.config/xresources/
!/.config/xresources/**

# Screen layout
!/.config/screenlayout/
!/.config/screenlayout/**

# gtk3
!/.config/gtk-3.0/
!/.config/gtk-3.0/settings.ini

# qt5ct
!/.config/qt5ct/
!/.config/qt5ct/**

# qt6ct
!/.config/qt6ct/
!/.config/qt6ct/**

# dunst
!/.config/dunst/
!/.config/dunst/**

# vivaldi
!/.config/vivaldi_custom/
!/.config/vivaldi_custom/**

# tmux
!/.config/tmux/
!/.config/tmux/tmux.conf

# touchegg
!/.config/touchegg/
!/.config/touchegg/touchegg.conf

# OBS TODO
